/*
  The custom stylesheet for history service
*/

.left-side.col-md-1 {
  flex: auto;
  max-width: 100%;
}

.left-side.col-md-1 {
  -ms-flex: 0 0 29.166666655%;
  flex: 0 0 29.166666655%;
  max-width: 29.166666655%;
}

.left-side-nav-card {
  position: relative;
  background: #d0cfcd;
  height: 50%;
  margin-top: 10%;
}

.left-side-nav-card:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-left-color: #d0cfcd;
  border-right: 0;
  margin-top: -0.625em;
  margin-right: -0.625em;
}
#article-photo img {
  width: 100%;
}
