/*
  The custom stylesheet for the VPIA - add styles in here.
*/
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

@font-face {
  font-family: "FuturaStdHeavy";
  src: url("./fonts/Futura Std Heavy.otf");
  font-display: swap;
}

@font-face {
  font-family: "FuturaStdMedium";
  src: url("./fonts/Futura Std Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "FuturaStdLight";
  src: url("./fonts/Futura Std Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "FuturaStdLightCondensedOblique";
  src: url("./fonts/Futura Std Light Condensed Oblique.otf");
  font-display: swap;
}

@font-face {
  font-family: "FuturaStdHeavyOblique";
  src: url("./fonts/Futura Std Heavy Oblique.otf");
  font-display: swap;
}

@font-face {
  font-family: "Baskerville";
  src: url("./fonts/Baskerville.ttc");
  font-display: swap;
}

@font-face {
  font-family: "Baskerville-BoldItalic";
  src: url("./fonts/MBaskerville-BoldItalic.otf");
  font-display: swap;
}

#FuturaStdHeavy {
  font-family: "FuturaStdHeavy";
}

#Baskerville {
  font-family: "Baskerville";
}

.primary-logo {
  height: 4em;
  margin-top: 2em;
  margin-bottom: 1em;
}

body {
  background-color: #ffffff;
  color: #4d4d4d;
  letter-spacing: 1px;
  font-family: "FuturaStdHeavy";
}

html,
body {
  height: 100%;
}

h3 {
  font-size: 2.5rem;
  color: #343638;
}

h4 {
  font-size: 1.25rem;
  color: #343638;
}

.content {
  margin-bottom: 3em;
  margin-top: 3em;
}

.article-list {
  padding: 10px 20px;
}

.article-item {
  margin-bottom: 2.5em;
}

.article-item-title {
  font-size: 2.5em;
  font-weight: 700;
  word-wrap: break-word;
}

.article-item-title a {
  color: #4d4d4d;
}

.article-item-title a:hover {
  color: #208778;
}

.article-item-description {
  font-family: "Baskerville";
  color: #595959;
}

.list-title {
  color: #4d4d4d;
  padding: 6px 20px;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.page-title {
  margin-bottom: 2em;
  font-size: 1.5em;
  border-bottom: 1px solid #208778;
  color: #208778;
}

.new-article .form-control {
  border: none;
}

.new-article textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
  outline: 0px;
  -webkit-appearance: none;
}

.new-article .input-title {
  font-weight: 700;
  font-size: 3em;
  height: auto;
}

.new-article .input-body {
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  padding: 10px 20px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.article-info-box {
  right: 0;
}

textarea {
  resize: none;
}

.color-text {
  color: #208778;
}

.navbar {
  padding-top: 3em;
  padding-right: 3em;
}

.list-group-item {
  border: none;
}

.list-group hr {
  margin-top: 0em;
  margin-bottom: 0em;
}

.article-sidebar {
  padding: 2em 1em;
  border-left: 1px solid #efefef;
}

.sidebar-block {
  margin-bottom: 3em;
}

.sidebar-title {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  color: #595959;
}

.section-title {
  padding-top: 1em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.what_changed {
  background-color: #efefef;
}

.list-group-item-heading {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .custom-collapse .collapse {
    display: block;
  }
}

.bordered-scroll-box {
  overflow-y: scroll;
  border: 1px solid #ccc;
  height: 500px;
}

.bordered-box {
  border: 1px solid #ccc;
}

/* height measurement helper */
.s-alert-box-height {
  visibility: hidden;
  position: fixed;
}

.center-align {
  text-align: center;
}

.number-bullet {
  background: #208778;
  color: #fff;
  padding: 0.5em;
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
}

.setup-flow {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.fixed {
  position: fixed;
  z-index: 99;
  top: 0;
}

.archive-list {
  max-height: 600px;
  overflow-y: scroll;
  border: 1px solid #efefef;
}

/* hide no file select alert */
input[type="file"] {
  display: none;
}

.row-centered {
  text-align: center;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.navbar-brand.abs {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}

a.btn-text {
  color: #343638;
  text-decoration: none;
}

a.none-deco {
  color: inherit;
  text-decoration: none;
}

.main-search.col-md-12 {
  padding: 0;
}

.main-nav-item span {
  color: #208778;
}

a.active-yellow span {
  border-bottom: 3px solid #ffb600;
}

.contribution-title {
  margin-top: 2em;
  border-bottom: 3px solid #208778;
}

.main-icon {
  fill: #ffffff;
}

.intro-icon {
  fill: #343638;
  width: 20%;
  height: auto;
}

.intro-box {
  width: 82%;
  margin: 0 auto;
  box-shadow: 0px 3px 6px #00000029;
}

.join-btn {
  border: 2px solid #343638;
  color: #343638;
  padding: 5px 30px;
}

.sign-in-btn {
  padding: 5px 30px;
}

.small-icon {
  fill: #53555a;
}

.main-nav-item :hover .main-icon {
  fill: #ffb600;
}

.main-nav-item :hover {
  color: #ffb600;
}

.footer-darkgrey {
  width: 100%;
  padding: 60px 10px 60px 10px;
  background-color: #343638;
}

.footer-lightgrey {
  width: 100%;
  padding: 60px 10px 60px 10px;
  background-color: #75777b;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footer_ul {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul li a {
  text-decoration: none;
  color: #ffffff;
}
.footer_ul li a:hover {
  color: #208778;
}

.footer-list {
  padding-top: 1em;
}

#app.container {
  width: 100%;
  height: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

.email-form.input-group {
  background-color: #343638;
  border: 2px solid white;
  border-radius: 4px;
}

.email-button {
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.email-form input[type="text"],
select {
  background: transparent;
  border: none;
  outline: none;
}

.btn-secondary {
  background-color: #ffb600;
  border: none;
}

.btn-primary {
  background-color: #343638;
  color: #fefefe;
  border: none;
}

.btn-default {
  background-color: #208778;
  color: #fefefe;
  border: none;
}

.btn-round {
  border-radius: 20px;
}

.btn-outline {
  color: #53555a;
  border: 2px solid #208778;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.content-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.hidden {
  display: none;
}

.VPIA-intro.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.VPIA-intro.jumbotron {
  height: 23.65em;
}

h1.title-primary {
  margin-top: 1.5em;
  font-size: 30px;
  color: #208778;
}

h1.underline-brush {
  background: url("../assets/icons/line.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  display: inline-block;
  height: 40px;
}

.VPIA-intro-right p {
  font-family: "FuturaStdLight";
}

.VPIA-intro-right h2 {
  font-size: 20px;
}

#mainheader.container-fluid {
  background-color: white;
  padding-bottom: 5%;
}

#mainlogo {
  padding-left: 5%;
}

.edit-page-title {
  font-size: 1.875em;
  color: #208778;
}

.edit-page-article-title {
  font-size: 1.25em;
  color: #208778;
}

ul.social-network {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

ul.social-network li {
  font-size: 20px;
  margin: 0 5px;
}

.social-icons {
  width: 100%;
}

.social-network a {
  color: #ffffff;
}

.social-network a:hover {
  color: #208778;
}

.image-fade::before {
  opacity: 0.2;
}

.image-tint {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #75777b80;
  z-index: 2;
}

.VPIA-intro.jumbotron {
  background-image: url("../assets/images/BG_L.jpg");
  background-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
  filter: grey;
  background-size: cover;
  background-position: right 10px bottom 500px;
  margin-bottom: 0;
}

.VPIA-intro.col-lg-8 {
  padding-left: 0;
}

.intro-content {
  position: relative;
  top: 9em;
  padding-left: 5%;
  color: white;
  z-index: 3;
}

.card-content {
  position: relative;
  color: white;
  z-index: 3;
  top: 9em;
}

.card-description {
  font-family: "Baskerville";
  size: 1.25em;
}

.card-text {
  top: 11em;
}

.events-card.card {
  margin-bottom: 30px;
}

.acknowledge-text {
  font: Italic 10px/12px Arial;
}

.BGimage::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-image: url("../assets/images/BG.jpg");
  -webkit-filter: grayscale(100%);
  filter: gray;
  background-size: cover;
}

#logo-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.About-intro-section {
  background: white;
  opacity: 1;
  padding-top: 5em;
  padding-bottom: 5em;
}

#About-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d0cfcd 0% 0% no-repeat padding-box;
  opacity: 0.8;
  transition: background 0.3s linear;
}

h1.About-header {
  color: #1f8475;
  text-align: center;
  font: Bold 25px Helvetica;
  letter-spacing: 0;
  opacity: 1;
}

#About-image-text-box {
  padding-top: 2em;
}

.About-initial-content {
  font-family: "FuturaStdMedium";
  letter-spacing: 0;
  text-align: center;
  color: #343638;
  opacity: 1;
  padding-top: 2em;
}

.About-info-section {
  background: #53555a;
  opacity: 1;
  padding: 2em, 10em, 5em, 10em;
}

.About-bottom-content {
  text-align: left;
  font-family: "FuturaStdMedium";
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.about-content {
  padding: 5%;
}

.right-align {
  float: right;
}

img.about-img {
  max-width: 16vw;
  height: auto;
  padding: 5%;
}

.gradient-left {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  ); /* Standard syntax (must be last) */
}

.gradient-right {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  ); /* Standard syntax (must be last) */
}

.rounded-img {
  border-radius: 10%;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers li {
  margin-right: 0.3em;
  color: #75777b;
  user-select: none;
  cursor: pointer;
}

#page-numbers li:hover {
  color: #208778;
}

#function-intro {
  width: 100%;
  padding: 6em;
  background-color: #ffa500;
  height: 26.25em;
  margin-top: 5%;
}

.function-intro p {
  font-family: "FuturaStdMedium";
  font-size: 1rem;
  color: #343638;
}

#footer-logo {
  width: auto;
  height: 7.8em;
}

#preview img {
  width: 100%;
}

.VPIA-intro-right {
  padding-right: 15px;
}

.tox-statusbar__branding {
  display: none;
}

.tox-notifications-container {
  display: none;
}

.tox-statusbar__wordcount {
  display: none;
}

.edit-indicator *[contentEditable="true"]:hover {
  outline: 1px solid #2276d2;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}
.navbar-toggler-icon {
  fill: white;
  color: white;
}

.footer_ul a:hover {
  color: #20877;
}

.mainheader {
  background-color: white;
}

@media (max-width: 768px) {
  #mainlogo {
    top: 1em;
    padding-bottom: 25%;
    height: auto;
    float: left;
  }

  .VPIA-intro-right {
    padding: 10%;
  }
  .VPIA-intro p {
    margin: 3%;
  }

  #function-intro {
    height: auto;
  }
  .footer-lightgrey {
    width: 100%;
    text-align: center;
  }
  .navbar {
    padding-top: 1em;
    padding-right: 1em;
    width: 100%;
    float: right;
  }
  .main-nav-item {
    width: 80px;
  }
  .card-content {
    top: 0;
  }
  .BGimage::before {
    width: 0;
    height: 0;
  }
  #logo-bottom-right {
    width: 0;
  }
  #fullpage.container-fluid {
    height: auto;
  }
}
@media (min-width: 768px) {
  #mainlogo {
    top: 0.75em;
    height: auto;
    float: left;
  }

  .my-card-img-top img {
    height: 20vw;
  }
}
