/*
  The custom stylesheet for UserService
*/

.fullpage.container-fluid {
  padding: 0;
  height: 100%;
}

.full-page.row {
  height: 100%;
}

.login-box {
  max-width: 500px;
  margin: 0px auto;
  background-color: transparent;
  text-align: center;
  padding-top: 40%;
}

.login-header {
  margin-bottom: 1em;
}

.left-panel {
  background-color: #208778;
  height: 100%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 10%;
}

.setup-form {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: #fff;
  text-align: center;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: 0.97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.modal-fullscreen .col-md-6 {
  float: none;
}

.modal-fullscreen .form-control {
  border: 1px solid #ccc;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px;
  }
}
