/*
  The custom stylesheet for WikiService
*/

.loader {
  text-align: center;
  max-width: 300px;
  padding: 10px;
  margin: 0px auto;
}

.loading {
  border-radius: 50%;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  border: 0.25rem solid #208778;
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

#article-nav.container-fluid {
  background-color: #d0cfcd;
  padding-top: 10px;
  padding-bottom: 0;
  height: 3.625em;
}

#article-nav-inner.row {
  height: 2.8em;
}

.active-red {
  border-bottom: 3px solid #d60812;
}

#left-side.col-md-1 {
  -ms-flex: 0 0 29.166666655%;
  flex: 0 0 29.166666655%;
  max-width: 29.166666655%;
}

.my-card-img-top img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

p.article-title {
  font-family: "Baskerville-BoldItalic";
  color: #0d1319;
  text-decoration: none;
}

.left-side-nav-card {
  position: relative;
  background: #d0cfcd;
  height: 50%;
  margin-top: 10%;
}

.left-side-nav-card:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-left-color: #d0cfcd;
  border-right: 0;
  margin-top: -0.625em;
  margin-right: -0.625em;
}

.left-side-nav-content {
  width: 50%;
  float: right;
  margin: 0.5em;
}

.article-heading {
  padding-left: 5%;
  margin-bottom: 2em;
  margin-top: 2em;
}

.single-article-title {
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #208778;
  font-family: "FuturaStdHeavy";
}

.single-article-meta {
  color: #595959;
}

.single-article-body {
  font-family: "Baskerville";
  font-size: 1.5em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-left: 0;
}

#article-body.col-md-1 {
  -ms-flex: 0 0 62.5%;
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
/*
Reponsive layout setting
*/
@media (max-width: 768px) {
  .my-card-img-top img {
    height: 80vw;
  }
}
